shopping-agent/Shopping_agent.json
{
  "name": "Shopping_agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        8
      ],
      "id": "85e8f620-52ae-4a8a-bcd3-f1be720327f7",
      "name": "Telegram Trigger",
      "webhookId": "ea6a267a-3728-4a14-a524-a013bfc17821",
      "credentials": {
        "telegramApi": {
          "id": "xrZUyWTs1cklNVVK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.message.link_preview_options.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        16
      ],
      "id": "3e7aad2f-6d05-40ba-9824-437105fbae77",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "product_name",
              "cssSelector": "title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        416,
        16
      ],
      "id": "46655f13-4e3a-4c07-999c-687341779590",
      "name": "HTML"
    },
    {
      "parameters": {
        "url": "https://www.searchapi.io/api/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "CLq24H8sjZrNqoLyVeLnLSZW"
            },
            {
              "name": "engine",
              "value": "google_shopping"
            },
            {
              "name": "q",
              "value": "={{ $json.product_name.split(':')[0].replace(/\\n/g,\" \").trim()  }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        16
      ],
      "id": "7dde8c3a-fae6-434f-ad2d-e6ed780c68c8",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a shopping assistant.\n\nYou are given this JSON data from Google Shopping results:\n{{ JSON.stringify($json.shopping_results) }}\n\nYour task:\n1. Analyze the \"shopping_results\" list carefully.\n2. Remove irrelevant or used items (like accessories, unrelated variants, or duplicate listings).\n3. Select the TOP 3 BEST DEALS based on:\n   - lowest price\n   - trusted store\n   - relevance to product\n   - availability of direct link\n4. Output ONLY in Telegram-friendly format.\n\n---\n\nFORMAT (STRICT):\n\n🔥 Top Deals for [Product Name]\n\n1. 🥇 [Product Title]\n💰 Price: [Price]\n🏪 Store: [Store Name]\n🔗 [Direct Google Shopping Product URL]\n\n2. 🥈 [Product Title]\n💰 Price: [Price]\n🏪 Store: [Store Name]\n🔗 [Direct Google Shopping Product URL]\n\n3. 🥉 [Product Title]\n💰 Price: [Price]\n🏪 Store: [Store Name]\n🔗 [Direct Google Shopping Product URL]\n\n---\n\nCRITICAL RULES:\n- Do NOT write placeholders like [Link]\n- You MUST extract and paste the FULL URL from \"product_link\" or \"link\" field in JSON\n- Do NOT summarize links\n- Do NOT modify URLs\n- Only output results in the format above\n- No extra explanation",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        832,
        16
      ],
      "id": "182d4a00-8984-4fbb-9536-81f57e64cb37",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        832,
        192
      ],
      "id": "8715d595-a0ef-4954-8950-784e75e016dc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mRs8UoF87cY0pUSN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "483465547",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        16
      ],
      "id": "fff86ae6-41cc-4395-9e04-e07b1f0ef0cd",
      "name": "Send a text message",
      "webhookId": "45545d74-1091-44b0-9512-60ac13a8f358",
      "credentials": {
        "telegramApi": {
          "id": "xrZUyWTs1cklNVVK",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f723c537-2039-4acf-98c0-5d45a5cc8ef4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98d1bd8532e891166410762d5735e357a48c91c61fe37d92c4a90eb6efa5855f"
  },
  "nodeGroups": [],
  "id": "VozDhGTnyMzmWktg",
  "tags": []
}